.loginPage {
    display: flex;
    height: 95vh;
}

.container {
    align-items: center;
}

.login {
    font-family: 'Georgia', 'Times New Roman', serif;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.login h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.05); /* Light gray input background */
    border: none;
    border-radius: 5px;
    color: black; /* Input text black */
    box-sizing: border-box;     
}

.error-message {
    color: red;
    margin: 10px 0;
    text-align: center;
}

.actionButtons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

p {
    text-align: center;
    color: black;
}
