/* UserManagement.css */

/* Main layout */
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  width: calc(100% - 240px);
  padding: 20px 40px;
  margin-left: 240px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Table styling */
.MuiTableContainer-root {
  margin-top: 20px;
  background-color: #f4f4f9;
  width: 100%;
  max-height: calc(100vh - 180px);
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.MuiTableHead-root .MuiTableCell-root {
  background-color: #1f83e0;
  color: white;
  font-weight: 600;
}

.MuiTableCell-root {
  padding: 10px;
  border-bottom: 1px solid rgba(224, 224, 224, 0.4);
}

.MuiTableRow-root:hover {
  background-color: #e8eaf6;
}

/* Button styling */
.edit-btn {
  background-color: #308dda;
  color: white ;
  margin-right: 8px ;
}

/* Modal styling */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  border-radius: 8px;
}

.modal h6 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
